<section id="headeId" class="navbar">
    <div class="logo">
        <a href="http://www.xcloud.com">
            <img alt="xcloud" src="/static/images/logo.png" / >
        </a>
    </div>
    <!--
    <div class="location hasSub">
        <i class="adrIcon"> </i>
        <span id="dataCenterShow" class="adr" _datacode="hd">华北</span>
        <div id="address" class="topSub">
            <a onclick=getDataCenter("hb","华北") href="javascript;">华北</a>
            <a onclick=getDataCenter("gz","华南") href="javascript;">华南</a>
            <a onclick=getDataCenter("hd","华东") href="javascript;">华东</a>
        </div>
    </div>
    -->
    <div class="topRight">
        <ul>
            <li class="last hasSub" style="width:150px;">
                <span id="userInfoId" title="lonesoul">{{UserName}}</span>
                <i class="menuIcon"></i>
                <div class="topSub" style="width:150px;">
                    <a href="http://uc.xcloud.com">个人中心</a>
                    <a id="logout_text" onclick="Logout();">退出</a>
                </div>
            </li>
            <li id="subText" class="last hasSub hide" style="display:none">子账户</li>
            <li id="adminText" class="last hasSub hide" style="display:none"></li>
            <li id="parentUser" class="last hasSub hide"></li>
            <li>
                <a href="http://www.xcloud.com/help/userGuide&FAQ.html">帮助中心</a>
            </li>
            <li>
                <a id="contact-us" class="contact-us" href="javascript;">联系方式</a>
            </li>
        </ul>
    </div>
    <script>
        function Logout(){
            //$.get("/logout/",function(){});  
            window.location.href="/logout/"
        }
    </script>
</section>
