<div id="addContact" style="display:none;z-index: 19891018; width: 550px; top: 139px; left: 684px;" contype="object" showtime="0" times="4" type="page" id="layui-layer4" class="layui-layer layui-anim layui-layer-page layer-ext-moon"><div style="" class="layui-layer-title">添加联系人</div><div class="layui-layer-content"><div style="display: block;" class="popup addContact layui-layer-wrap">
	<div class="scrollDiv">
	<table class="popTable">
		<colgroup>
			<col width="27">
			<col width="145">
			<col width="145">
			<col width="162">
		</colgroup>
		<thead>
		<tr class="trGray">
			<th></th>
			<th>姓名</th>
			<th>手机号</th>
			<th>邮箱</th>
		</tr>
		</thead>
	</table>
		<table id="listTable" class="popTable">
			<tbody id="loadDataList">
            </tbody>
            <colgroup>
                <col width="27">
                <col width="145">
                <col width="145">
                <col width="162">
			</colgroup>
			
		</table>
	 </div>
</div></div><span class="layui-layer-setwin"><a href="javascript:;" class="layui-layer-ico layui-layer-close layui-layer-close1"></a></span><div class="layui-layer-btn"><a class="layui-layer-btn0">确定</a><a class="layui-layer-btn1">取消</a></div></div>