<div id="addContact" style="display:none;z-index: 19891018; width: 550px; top: 139px; left: 684px;" contype="object" showtime="0" times="4" type="page" id="layui-layer4" class="layui-layer layui-anim layui-layer-page layer-ext-moon"><div style="" class="layui-layer-title">添加联系人</div><div class="layui-layer-content"><div style="display: block;" class="popup addContact layui-layer-wrap">
	<div class="scrollDiv">
	<table class="popTable">
		<colgroup>
			<col width="27">
			<col width="145">
			<col width="145">
			<col width="162">
		</colgroup>
		<thead>
		<tr class="trGray">
			<th></th>
			<th>姓名</th>
			<th>手机号</th>
			<th>邮箱</th>
		</tr>
		</thead>
	</table>
		<table id="listTable" class="popTable">
			<tbody id="loadDataList"><tr class=""><td><i class="mc_chosen check" _phone="18916696385" _email="448765461@qq.com" _name="lonesoul" _id="47f6e6c6-6834-45e1-bb10-4f143850f412" id="mc_chosen"></i></td><td>lonesoul</td><td>18916696385</td><td title="448765461@qq.com">448765461@qq.co...</td></tr><tr class="trGray"><td><i class="mc_chosen check" _phone="18916696328" _email="4487654444@qq.com" _name="shengyuan" _id="922d1fdf-9e7c-4b88-838c-c9dcbf177fb2" id="mc_chosen"></i></td><td>shengyuan</td><td>18916696328</td><td title="4487654444@qq.com">4487654444@qq.c...</td></tr></tbody><colgroup>
				<col width="27">
				<col width="145">
				<col width="145">
				<col width="162">
			</colgroup>
			
		</table>
	 </div>
</div></div><span class="layui-layer-setwin"><a href="javascript:;" class="layui-layer-ico layui-layer-close layui-layer-close1"></a></span><div class="layui-layer-btn"><a class="layui-layer-btn0">确定</a><a class="layui-layer-btn1">取消</a></div></div>