{%  extends "base.html" %}

{%block indexTit%}
    <h2>
        <i class="titIcon"> </i>
        {{indextitcon}}
    </h2>
    <p>
        管理监控报警通知的接收人电话、邮箱
    </p>    
{%endblock%}
{% block mainCon %}
<div class="innerCon">
    <div class="conBox">
        <div class="innerBox">
            <div id="con-contact-1" class="buildCon">

                <div class="buildBox grayBg">
                	<div class="whiteBox">
                    	<div class="btnDiv">
                    	<!--
                        	<div class="searchBox">
                            	<input type="text" class="searchInput" placeholder="请输名称进行搜索" ><a href="javascript:void(0);" class="searchBtn"><i class="i31"></i></a>
                            </div>
                            -->
                        	<a class="refresh" id="refresh" href="javascript:void(0);"><i class="i17"></i></a>
                       		<a id="batch" class="whiteBtn mr5 " href="javascript:void(0);">批量操作</a>
                        	<a id="showCreate" class="greenBtn" href="javascript:void(0);">创&emsp;建</a>
                        </div>
                        <!-- 表头 -->

                    	<table class="listTable">
                        	<colgroup>
                            	<col width="4%" class="batch hide" style="display: none;">
                            	<col width="19%">
                            	<col width="19%">
                            	<col width="20%">
                            	<col width="19%">
                                <col>
                            </colgroup>
                        	<thead>
                            	<tr class="tcenter trGray">
                                	<th id="selectAll2" class="batch hide" style="display: none;"><i class="check"></i><input type="checkbox" class="hide"></th>
                                	<th>姓名</th>
                                	<th>手机号</th>
                                	<th>邮箱</th>
                                	<th>最新更新时间</th>
                                	<th>操作</th>
                                </tr>
                            </thead>
                        </table>

                    <div id="list">
                    <table id="listTableList" class="listTable">
                        <colgroup>
                            <col width="4%" class="batch hide" style="display: none;">
                            <col width="19%">
                            <col width="19%">
                            <col width="20%">
                            <col width="19%">
                            <col>
                        </colgroup>
                    	<tbody id="recordList">
                            {% for contacts in contact_list%}
                                
                            <tr _name="{{contacts.Name}}" _id="{{contacts.uuid}}" id="listTr" class="">
                                <td class="batch" style="display: none;">
                                <i name="lonesoul" id="{{contacts.uuid}}" class="check">
                                </i><input type="check" class="hide">
                                </td>
                                <td>{{contacts.Name}}</td>
                                <td>{{contacts.Phone}}</td>
                                <td title="448765461@qq.com">{%if contacts.Email|length > 15 %}{{contacts.Email|slice:"15"}}...{%else%}{{contacts.Email}}{%endif%}</td>
                                <td>{{contacts.CreateTime|date:"Y-m-d H:i:s"}}</td>
                                <td>    
                                    <i id="updatePerson" _email="{{contacts.Email}}" _phone="{{contacts.Phone}}" _name="{{contacts.Name}}" _id="{{contacts.uuid}}" title="修改" class="i47 updatePerson"></i>
                                    <i id="deletePerson" _name="{{contacts.Name}}" _id="{{contacts.uuid}}" title="删除" class="i16 deletePerson"></i>
                                    <!--<i id="updatePerson" _email="{{contacts.Email}}" _phone="{{contacts.Phone}}" _name="{{contacts.Name}}" _id="{{contacts.uuid}}" title="默认联系人不允许修改" class="i47 i147"></i>-->
                                    <!--<i _name="{{contacts.Name}}" _id="{{contacts.uuid}}" title="删除" onclick="showDeleteTip('默认联系人不允许删除！')" class="i16"></i>-->
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                     </div>
                    </div>
                    <div class="botDiv hide" style="display: none;">
                    	<span id="selectAll" class="checkDiv"><i class="check"></i></span><a id="deleteAll" title="请选择要删除的联系人" class="wsBtn gsBtn mr5 grayBtn" href="javascript:void(0);">删&ensp;除</a>
                    </div>
                </div>
            	<!-- 分页begin -->
                <div id="conPagination" class="pages" _size="10" _min="0" _max="0" _cur="0" style="display: none;"><a _page="0" href="javascript:;" class="prev" id="prev">上一页</a><span class="current" _page="0" href="javascript:;" id="num">1</span><span class="current" _page="0" href="javascript:;" id="num">1</span><a _page="0" href="javascript:;" class="next" id="next">下一页</a></div>
                <!-- 分页end -->
            </div>
        </div>
        <div class="botDiv" style="display:none">
            <span class="checkDiv">
                <i id="selectAll" class="check"> </i>
            </span>
            <a id="delete" class="wsBtn mr5 gsBtn grayBtn" title="请选择资源"
            href="#">
                删 除
            </a>
            <a>
                启 动
            </a>
            <a>
                停 止
            </a>
            <a>
                重 启
            </a>
        </div>
    </div>

    <div id="publicPagination" class="pages"> </div>
</div>
{% include "addPersonDiv.html"%}
{% include "newGroupDiv.html"%}
{% include "addContactDiv.html"%}
{% include "updatePersonDiv.html"%}
{% include "deleteTipsDiv.html"%}
</div>
<script>
    function clearAlaMsg_new(divid){
        $(divid+"_er").parent().removeClass("error");
        $(divid+"_er").show()
        $(divid+"_er").html("");
        $(divid+"Tip").show();
    }
    
    $(function(){
    
        $("#recordList tr").hover(function(){
            $("#recordList tr").removeClass("trHover");
            $(this).addClass("trHover");
        });
        $(".updatePerson").click(function(){
            $("body").append('<div style="display:;z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);" times="1" id="layui-layer-shade1" class="layui-layer-shade"></div>');
            $("#updatePersonDiv").show();
            $("#updatePersonDiv #nowId").html($(this).attr("_id"));
            $("#updatePersonDiv #uname").val($(this).attr("_name"));
            $("#updatePersonDiv #uphone").val($(this).attr("_phone"));
            $("#updatePersonDiv #uemail").val($(this).attr("_email"));
        })
        $(".deletePerson").click(function(){
            $("body").append('<div style="display:;z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);" times="1" id="layui-layer-shade1" class="layui-layer-shade"></div>');
            $("#deleteTipsDiv").show();
            $("#delete_contacts_div").html("确认删除联系人："+$(this).attr("_name")+" ？");
            $("#deleteTipsDiv #cid").html($(this).attr("_id"));
        })
        $("#showCreate").click(function(){
            $("body").append('<div style="display:;z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);" times="1" id="layui-layer-shade1" class="layui-layer-shade"></div>');
            $("#addPerson").show();
        });
        $(".layui-layer-btn1,.layui-layer-close1").click(function(){
            $("#updatePersonDiv").hide();
            $("#addPerson").hide();
            $("#addPerson").hide();
            $("#deleteTipsDiv").hide();
            $("#layui-layer-shade1").remove();
            
        });
        $(".layui-layer-btn0").click(function(){
            
            if($("#addPerson").css("display") == 'block'){
                var name = $("#name").val();
                var phone = $("#phone").val();
                var email = $("#email").val();
                var params = {"action":"addPerson","name":name,"phone":phone,"email":email,}
                var add_up = 1;
            }
            if($("#deleteTipsDiv").css("display") == 'block'){
                    var cid = $("#cid").html();
                    var params = {"action":"deletePerson","cid":cid,}
            }
            if($("#updatePersonDiv").css("display") == 'block'){
                var nowId = $("#nowId").html();
                var name = $("#uname").val();
                var phone = $("#uphone").val();
                var email = $("#uemail").val();
                var params = {"action":"updatePerson","name":name,"phone":phone,"email":email,"nowId":nowId,}
                var add_up = 1;
            }
            if (add_up ==1){
                if(name==""){
                    $("#nameTip").hide();
                    $("#name_er").parent().addClass("error");
                    $("#name_er").show()
                    $("#name_er").html("名称不能为空");
                    var input_status = 0;
                }
                //不为空，只支持中文、数字、大小写字母、英文下划线“_”及中划线“-”
                if(phone==""){
                    $("#phoneTip,#uphoneTip").hide();
                    $("#phone_er,#uphone_er").parent().addClass("error");
                    $("#phone_er,#uphone_er").show()
                    $("#phone_er,#uphone_er").html("手机号不能为空");
                    
                    var input_status = 0;	
                }
                //请输入合法手机号
                if (!phone.match(/^((13|15|17|18)+\d{9})$/)) {
                    $("#phoneTip,#uphoneTip").hide();
                    $("#phone_er,#uphone_er").parent().addClass("error");
                    $("#phone_er,#uphone_er").show()
                    $("#phone_er,#uphone_er").html("请输入合法手机号");
                    var input_status = 0;	
                } 
                
                if(email==""){
                    $("#emailTip,#uemailTip").hide();
                    $("#email_er,#uemail_er").parent().addClass("error");
                    $("#email_er,#uemail_er").show()
                    $("#email_er,#uemail_er").html("邮箱不能为空");
                    var input_status = 0;	
                }
                //请输入合法邮箱
                if (!email.match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/)) {
                    $("#emailTip,#uemailTip").hide();
                    $("#email_er,#uemail_er").parent().addClass("error");
                    $("#email_er,#uemail_er").show()
                    $("#email_er,#uemail_er").html("请输入合法邮箱");
                    var input_status = 0;	
                } 
                if (input_status == 0){
                    return false;
                }
            }
			var ParamsToStr = JSON.stringify(params);
            $.ajax({
                type: "POST",
                url: "/api/",
                dataType: "json",
                data: { method: "GET", 'action':'contact',params: ParamsToStr},
                beforeSend: function(){
                    //$('<div id="msg" />').addClass("loading").html("正在登录...").css("color","#999").appendTo('.sub');
                    //$("#yz").css("display","none");
                    //$('<div id="loading" />').html("<div class=\"load\">正在登录...<\/div>").appendTo('body');
                },			
                success: function(data){
                    if(data['code']==0){
                         window.location.href=".";
                        //$("#msg").remove();
                        //$(".home-logo").after('<div id="msg"><div class="msgcon">您输入的用户名或密码错误</div></div>');
                    }else{
                        alert(data['msg']);
                    }
                }
            });
        });
    })
</script>
{% endblock %}
