<div id="updatePersonDiv" style="display:none;z-index: 19891015; width: 510px; top: 103.5px; left: 704px;" contype="object" showtime="0" times="1" type="page" id="layui-layer1" class="layui-layer layui-anim layui-layer-page layer-ext-moon"><div style="cursor: move;" class="layui-layer-title" move="ok">修改信息</div><div class="layui-layer-content"><div style="" class="popup modiInfo layui-layer-wrap">
    <div class="newBranch">
    <span class="hide" id="nowId"></span>
    	<ul class="listItem">
        	<li class="first">
            <p class="tit"><span class="red">* </span>姓名：</p>
            <p class="con">
            <input type="text" value="" class="inputMode w390" onfocus="clearAlaMsg_new('#uname')"  id="uname">
            </p>
            <p id="uname_er" class="tips" style="display: none;"></p>
            <p></p>
        	<p class="tips" id="unameTip">不为空，只支持中文、数字、大小写字母、英文下划线“_”及中划线“-”，且不能超过32字符</p></li>
        	<li>
            <p class="tit"><span class="red">* </span>手机号：</p>
            <p class="con">
            <input type="text" value="" class="inputMode w390" onfocus="clearAlaMsg_new('#uphone')"  id="uphone"></p><p id="uphone_er" class="tips" style="display: none;"></p><p></p>
        	<p class="tips" id="uphoneTip">手机号不能为空</p></li>
        	<li><p class="tit"><span class="red">* </span>邮箱：</p>
            <p class="con">
            <input type="text" value="" class="inputMode w390" onfocus="clearAlaMsg_new('#uemail')" id="uemail"></p><p id="uemail_er" class="tips" style="display: none;"></p><p></p>
        	<p class="tips" id="uemailTip">邮箱不能为空</p></li>
        	
		</ul>
	</div>
</div></div><span class="layui-layer-setwin"><a href="javascript:;" class="layui-layer-ico layui-layer-close layui-layer-close1"></a></span>
<div class="layui-layer-btn"><a class="layui-layer-btn0">确定</a><a class="layui-layer-btn1">取消</a></div></div>