{%  extends "base.html" %}

{%block indexTit%}
    <h2>
        <i class="titIcon"> </i>
        {{indextitcon}}
    </h2>
    <p>
        管理固有资产
    </p>    
{%endblock%}
{% block mainCon %}
<div class="innerCon">
    <div class="conBox">
        <div class="innerBox">
            <div id="con-contact-1" class="buildCon">

                <div class="buildBox grayBg">
                	<div class="whiteBox">
                    	<div class="btnDiv">
                    	<!--
                        	<div class="searchBox">
                            	<input type="text" class="searchInput" placeholder="请输名称进行搜索" ><a href="javascript:void(0);" class="searchBtn"><i class="i31"></i></a>
                            </div>
                            -->
                        	<a class="refresh" id="refresh" href="javascript:void(0);"><i class="i17"></i></a>
                       		<a id="batch" class="whiteBtn mr5 " href="javascript:void(0);">批量操作</a>
                        	<a id="showCreate" class="greenBtn" href="javascript:void(0);">创&emsp;建</a>
                        </div>
                        <!-- 表头 -->

                    	<table class="listTable">
                        	<colgroup>
                            	<col width="4%" class="batch hide" style="display: none;">
                            	<col width="13%">
                            	<col width="13%">
                            	<col width="10%">
                            	<col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="20%">
                            </colgroup>
                        	<thead>
                            	<tr class="tcenter trGray">
                                	<th id="selectAll2" class="batch hide" style="display: none;"><i class="check"></i><input type="checkbox" class="hide"></th>
                                	<th>主机名</th>
                                	<th>IP地址</th>
                                	<th>所属主机组</th>
                                    <th>操作系统</th>
                                    <th>cpu核数</th>
                                	<th>内存</th>
                                    <th>硬盘</th>
                                	<th>操作</th>
                                </tr>
                            </thead>
                        </table>

                    <div id="list">
                    <table id="listTableList" class="listTable">
                        <colgroup>
                            <col width="4%" class="batch hide" style="display: none;">
                            <col width="13%">
                            <col width="13%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="20%">
                        </colgroup>
                    	<tbody id="recordList">
                            {% for assets in asset_list%}
                                
                            <tr _name="{{assets.HostName}}" _id="{{assets.uuid}}" id="listTr" class="">
                                <td class="batch" style="display: none;">
                                <i name="{{assets.HostName}}" id="{{assets.uuid}}" class="check">
                                </i><input type="check" class="hide">
                                </td>
                                <td>{{assets.HostName}}</td>
                                <td>{{assets.HostIp}}</td>
                                <td>{% if assets.GroupId%}{{assets.GroupName}}{% else%}-{%endif%}</td>
                                <td>{{assets.SystemType}} {{assets.SystemVersion}}</td>
                                <td>{% if assets.CPU%}{{assets.CPU}} 核{% else%}-{%endif%}</td>
                                <td>{% if assets.MEM%}{{assets.MEM}} (G){% else%}-{%endif%}</td>
                                <td>{% if assets.Disk%}{{assets.Disk}} (G){% else%}-{%endif%}</td>
                                <td>    
                                    <i id="updatePerson" _hostname="{{assets.HostName}}" _hostip="{{assets.HostIp}}" 
                                            _otherip="{{assets.OtherIp}}"
                                            _mac="{{assets.MAC}}"
                                            _manageaccount="{{assets.ManageAccount}}" 
                                            _port ="{{assets.Port}}" 
                                            _groupid ="{{assets.GroupId}}" 
                                            _cpu ="{{assets.CPU}}" 
                                            _mem ="{{assets.MEM}}" 
                                            _disk ="{{assets.Disk}}" 
                                            _systemyype ="{{assets.SystemType}}" 
                                            _systemversion ="{{assets.SystemVersion}}"
                                            _hosttype ="{{assets.HostType}}" 
                                            _operatenv ="{{assets.OperatEnv}}" 
                                            _hoststatus ="{{assets.HostStatus}}"
                                            _status ="{{assets.Status}}"
                                            _id="{{assets.uuid}}" title="修改" class="i47 updatePerson"></i>
                                    <i id="deletePerson" _name="{{assets.HostName}}" _id="{{assets.uuid}}" title="删除" class="i16 deletePerson"></i>
                                    <!--<i id="updatePerson" _email="{{contacts.Email}}" _phone="{{contacts.Phone}}" _name="{{contacts.Name}}" _id="{{contacts.uuid}}" title="默认联系人不允许修改" class="i47 i147"></i>-->
                                    <!--<i _name="{{contacts.Name}}" _id="{{contacts.uuid}}" title="删除" onclick="showDeleteTip('默认联系人不允许删除！')" class="i16"></i>-->
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                     </div>
                    </div>
                    <div class="botDiv hide" style="display: none;">
                    	<span id="selectAll" class="checkDiv"><i class="check"></i></span><a id="deleteAll" title="请选择要删除的联系人" class="wsBtn gsBtn mr5 grayBtn" href="javascript:void(0);">删&ensp;除</a>
                    </div>
                </div>
            	<!-- 分页begin -->
                <div id="conPagination" class="pages" _size="10" _min="0" _max="0" _cur="0" style="display: none;"><a _page="0" href="javascript:;" class="prev" id="prev">上一页</a><span class="current" _page="0" href="javascript:;" id="num">1</span><span class="current" _page="0" href="javascript:;" id="num">1</span><a _page="0" href="javascript:;" class="next" id="next">下一页</a></div>
                <!-- 分页end -->
            </div>
        </div>
        <div class="botDiv" style="display:none">
            <span class="checkDiv">
                <i id="selectAll" class="check"> </i>
            </span>
            <a id="delete" class="wsBtn mr5 gsBtn grayBtn" title="请选择资源"
            href="#">
                删 除
            </a>
            <a>
                启 动
            </a>
            <a>
                停 止
            </a>
            <a>
                重 启
            </a>
        </div>
    </div>

    <div id="publicPagination" class="pages"> </div>
</div>
{% include "addAssetPersonDiv.html"%}
{% include "newGroupDiv.html"%}
{% include "addContactDiv.html"%}
{% include "updateAssetPersonDiv.html"%}
{% include "deleteTipsDiv.html"%}
</div>
<script>
    function clearAlaMsg_new(divid){
        $(divid+"_er").parent().removeClass("error");
        $(divid+"_er").show()
        $(divid+"_er").html("");
        $(divid+"Tip").show();
    }
    
    $(function(){
    
        $("#recordList tr").hover(function(){
            $("#recordList tr").removeClass("trHover");
            $(this).addClass("trHover");
        });
        $(".updatePerson").click(function(){
            $("body").append('<div style="display:;z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);" times="1" id="layui-layer-shade1" class="layui-layer-shade"></div>');
            $("#updateAssetPersonDiv").show();
            $("#updateAssetPersonDiv #nowId").html($(this).attr("_id"));
            $("#updateAssetPersonDiv #uhostname").val($(this).attr("_hostname"));
            $("#updateAssetPersonDiv #uhostip").val($(this).attr("_hostip"));
            $("#updateAssetPersonDiv #otherip").val($(this).attr("_otherip"));
            $("#updateAssetPersonDiv #mac").val($(this).attr("_mac"));
            $("#updateAssetPersonDiv #manageaccount").val($(this).attr("_manageaccount"));
            $("#updateAssetPersonDiv #uport").val($(this).attr("_port"));
            $("#updateAssetPersonDiv #groupid").val($(this).attr("_groupid"));
            $("#updateAssetPersonDiv #cpu").val($(this).attr("_cpu"));
            $("#updateAssetPersonDiv #mem").val($(this).attr("_mem")); 
            $("#updateAssetPersonDiv #disk").val($(this).attr("_disk"));
            $("#updateAssetPersonDiv #systemyype").val($(this).attr("_systemyype"));
            $("#updateAssetPersonDiv #systemversion").val($(this).attr("_systemversion"));
            $("#updateAssetPersonDiv #hosttype").val($(this).attr("_hosttype"));
            $("#updateAssetPersonDiv #operatenv").val($(this).attr("_operatenv"));
            $("#updateAssetPersonDiv #hoststatus").val($(this).attr("_hoststatus"));
            if($(this).attr("_status")=='1'){
                $("#status0").removeAttr("checked");
                $("#status1").attr("checked","checked");
            }else{
                $("#status1").removeAttr("checked");
                $("#status0").attr("checked","checked");
            }


                    
        })
        $(".deletePerson").click(function(){
            $("body").append('<div style="display:;z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);" times="1" id="layui-layer-shade1" class="layui-layer-shade"></div>');
            $("#deleteTipsDiv").show();
            $("#delete_contacts_div").html("确认删除资源："+$(this).attr("_name")+" ？");
            $("#deleteTipsDiv #cid").html($(this).attr("_id"));
        })
        $("#showCreate").click(function(){
            $("body").append('<div style="display:;z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);" times="1" id="layui-layer-shade1" class="layui-layer-shade"></div>');
            $("#addAssetPerson").show();
        });
        $(".layui-layer-btn1,.layui-layer-close1").click(function(){
            $("#updateAssetPersonDiv").hide();
            $("#addAssetPerson").hide();
            $("#deleteTipsDiv").hide();
            $("#layui-layer-shade1").remove();
            
        });
        $(".layui-layer-btn0").click(function(){
            
            if($("#addAssetPerson").css("display") == 'block'){
                var hostname = $("#hostname").val();
                var hostip = $("#hostip").val();
                var port = $("#port").val();
                var status = 1;
                if($("#addAssetPerson #mc_chosen").attr("class").length==23){
                    manageuser = 0;
                }else{
                    var manageu = $("#manageuser").val();
                    var managepasswd = $("#managepasswd").val();
                    manageuser = [manageu,managepasswd];
                }
                $(".status").each(function(){
                    if($(this).attr("checked")){
                        status = $(this).attr("_status");
                    }
                });
                var params = {"action":"addPerson","hostname":hostname,"hostip":hostip,"port":port,"manageuser":manageuser,"status":status,}
                
                //var add_up = 1;
            }
            if($("#deleteTipsDiv").css("display") == 'block'){
                    var cid = $("#cid").html();
                    var params = {"action":"deletePerson","cid":cid,}
            }
            if($("#updateAssetPersonDiv").css("display") == 'block'){
                var nowId = $("#nowId").html();
                var hostname = $("#uhostname").val();
                var hostip = $("#uhostip").val();
                var otherip = $("#otherip").val();
                var mac =  $("#mac").val();
                var port = $("#uport").val();
                var groupid = $("#otherip").val();
                var cpu = $("#cpu").val();
                var mem = $("#mem").val();
                var disk = $("#disk").val();
                var systemyype = $("#systemyype").val();
                var systemversion = $("#systemversion").val();
                var hosttype = $("#hosttype").val();
                var operatenv = $("#operatenv").val();
                var hoststatus = $("#hoststatus").val();
                var status = 1;
                if($("#updateAssetPersonDiv #mc_chosen").attr("class").length==23){
                    manageuser = 0;
                }else{
                    var manageu = $("#manageuser").val();
                    var managepasswd = $("#managepasswd").val();
                    manageuser = [manageu,managepasswd];
                }
                $(".status").each(function(){
                    if($(this).attr("checked")){
                        status = $(this).attr("_status");
                    }
                });
                var params = {"action":"updatePerson",
                              "hostname":hostname,
                              "hostip":hostip,
                              "otherip":otherip,
                              "manageuser":manageuser,
                              "port":port,
                              "groupid":groupid,
                              "cpu":cpu,
                              "mem":mem,
                              "disk":disk,
                              "systemyype":systemyype,
                              "systemversion":systemversion,
                              "hosttype":hosttype,
                              "operatenv":operatenv,
                              "hoststatus":hoststatus,
                              "status":status,
                              "nowId":nowId,}
                //var add_up = 1;
                //return false;
            }
            /*
            add_up = 0;
            if (add_up ==1){
                if(name==""){
                    $("#nameTip").hide();
                    $("#name_er").parent().addClass("error");
                    $("#name_er").show()
                    $("#name_er").html("名称不能为空");
                    var input_status = 0;
                }
                //不为空，只支持中文、数字、大小写字母、英文下划线“_”及中划线“-”
                if(phone==""){
                    $("#phoneTip,#uphoneTip").hide();
                    $("#phone_er,#uphone_er").parent().addClass("error");
                    $("#phone_er,#uphone_er").show()
                    $("#phone_er,#uphone_er").html("手机号不能为空");
                    
                    var input_status = 0;	
                }
                //请输入合法手机号
                if (!phone.match(/^((13|15|17|18)+\d{9})$/)) {
                    $("#phoneTip,#uphoneTip").hide();
                    $("#phone_er,#uphone_er").parent().addClass("error");
                    $("#phone_er,#uphone_er").show()
                    $("#phone_er,#uphone_er").html("请输入合法手机号");
                    var input_status = 0;	
                } 
                
                if(email==""){
                    $("#emailTip,#uemailTip").hide();
                    $("#email_er,#uemail_er").parent().addClass("error");
                    $("#email_er,#uemail_er").show()
                    $("#email_er,#uemail_er").html("邮箱不能为空");
                    var input_status = 0;	
                }
                //请输入合法邮箱
                if (!email.match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/)) {
                    $("#emailTip,#uemailTip").hide();
                    $("#email_er,#uemail_er").parent().addClass("error");
                    $("#email_er,#uemail_er").show()
                    $("#email_er,#uemail_er").html("请输入合法邮箱");
                    var input_status = 0;	
                } 
                if (input_status == 0){
                    return false;
                }
            }
            */
			var ParamsToStr = JSON.stringify(params);
            $.ajax({
                type: "POST",
                url: "/api/",
                dataType: "json",
                data: { method: "GET", 'action':'asset',params: ParamsToStr},
                beforeSend: function(){
                    //$('<div id="msg" />').addClass("loading").html("正在登录...").css("color","#999").appendTo('.sub');
                    //$("#yz").css("display","none");
                    //$('<div id="loading" />').html("<div class=\"load\">正在登录...<\/div>").appendTo('body');
                },			
                success: function(data){
                    if(data['code']==0){
                        window.location.href=".";
                        //$("#msg").remove();
                        //$(".home-logo").after('<div id="msg"><div class="msgcon">您输入的用户名或密码错误</div></div>');
                    }else{
                        alert(data['msg']);
                    }
                }
            });
        });
    })
</script>
{% endblock %}
