.vncpassmsg{color:red;}
.ReviseVncPwd{display:block;border:1px solid #fbe3ae;background:#fffde9;color:#f68300;width:213px;padding:5px;padding-left:10px;border-radius:3px;}
.ReviseVncPwd:hover{text-decoration:underline;}