<div id="" style="display:none;" class="popup creatJX hide">
     <ul class="listItem">
           <li><p class="tit"><span class="red">* </span>名称：</p><p class="con"><input type="text" onfocus="clearAlaError('#imageName','名称不可为空，只支持中文、数字、大小写字母、英文下划线“_”及中划线“-”，且不能超过32字符')" onblur="onblurName_new('imageName')" id="imageName" class="inputMode w280"></p>
           	   <p id="imageName_er" class="tips">名称不可为空，只支持中文、数字、大小写字母、英文下划线“_”及中划线“-”，且不能超过32字符</p>
           </li>
           <li><p class="tit">描述：</p><div class="con"><textarea id="imageVersion" onfocus="clearAlaError('#imageVersion','描述只支持中文、数字、大小写字母及英文下划线“_”，且不能超过32字符')" onblur="onblurDesc_new('imageVersion')" class="textMode1"></textarea></div>
               <p id="imageVersion_er" class="tips">描述只支持中文、数字、大小写字母及英文下划线“_”，且不能超过32字符</p>
           </li>
     </ul>
</div>
<div style="display:none;z-index: 19891021; width: 460px; top: 98px; left: 729px;" contype="object" showtime="0" times="7" type="page" id="layui-layer7" class="layui-layer layui-anim layui-layer-page layer-ext-moon"><div style="cursor: move;" class="layui-layer-title" move="ok">重启提示</div><div class="layui-layer-content"><div id="restartServerDiv" style="display: block;" class="popup deleteTips layui-layer-wrap">
     <div id="restart_server_div" class="textCon f14">确认重启云主机：lonesoul ？</div>
</div></div><span class="layui-layer-setwin"><a href="javascript:;" class="layui-layer-ico layui-layer-close layui-layer-close1"></a></span><div class="layui-layer-btn"><a class="layui-layer-btn0">确定</a><a class="layui-layer-btn1">取消</a></div></div>
