<div id="startServerDiv" style="display:none;" class="popup deleteTips">
     <div id="start_server_div" class="textCon f14">
     </div>
</div>
<div style="display:none;z-index: 19891015; width: 460px; top: 87.5px; left: 729px;" contype="object" showtime="0" times="1" type="page" id="layui-layer1" class="layui-layer layui-anim layui-layer-page layer-ext-moon"><div style="cursor: move;" class="layui-layer-title" move="ok">启动提示</div><div class="layui-layer-content"><div id="startServerDiv" style="" class="popup deleteTips layui-layer-wrap">
     <div id="start_server_div" class="textCon f14">确认启动云主机：lonesoul ？</div>
</div></div><span class="layui-layer-setwin"><a href="javascript:;" class="layui-layer-ico layui-layer-close layui-layer-close1"></a></span><div class="layui-layer-btn"><a class="layui-layer-btn0">确定</a><a class="layui-layer-btn1">取消</a></div></div>
